.card__image {
  height: 413px;
  width: 100%;
  display: block;
  object-fit: cover;
  border-radius: 8px;
}

.card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 12px 0 0;
}

.card__title {
  margin: 0;
  font-family: "Poppins", Arial, Helvetica;
  font-size: 20px;
  line-height: 1;
  font-weight: 500;
  color: #212121;
}

.card__like-button {
  background-image: url(../images/like-icon.svg);
  height: 20px;
  width: 23px;
  border: none;
  background-color: transparent;
}

.card__like-button:hover {
  opacity: 0.4;
  cursor: url("/images/cursor-pointer.svg"), pointer;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
    width: 100%;
  }

  .card__content {
    margin-top: 12px;
  }

  .card__title {
    font-size: 16px;
  }

  .card__like-button {
    width: 20px;
    height: 18px;
    background-size: contain;
    background-repeat: no-repeat;
  }
}
