.footer {
  text-align: center;
  background-color: #fcf5e5;
}

.footer__copyright {
  font-family: "Poppins", Arial, Helvetica;
  font-size: 16px;
  line-height: 1;
  color: rgba(33, 33, 33, 0.7);
  padding: 60px 0;
  margin: 0;
}
